<h1>New Password</h1>
<%= form_tag "/profile/password/edit", method: :patch do %>
<%= label_tag "Password" %>
<%= text_field_tag "password" %>
<%= label_tag "Confirm Password" %>
<%= text_field_tag "password_confirmation" %>
<%= submit_tag "Submit" %>
<% end %>
