
<h2><%= @merchant.name%></h2>
<h3>Address: <%=@merchant.address%></h3>

<h2>Orders for <%=@merchant.name %>:</h2>

<%@merchant.pending_orders.each do |order| %>
<%= require "pry"; binding.pry %>
   <section id="Order-<%=order.id%>">
     <%=link_to "Order: #{order.id}", "/merchant/orders/#{order.id}" %><br>
  </section>
<%end %>
