
<h2><%= @merchant.name%></h2>
<h3>Address: <%=@merchant.address%></h3>
<h3>Address: <%=@merchant.city%></h3>
<h3>Address: <%=@merchant.state%></h3>
<h3>Address: <%=@merchant.zip%></h3>

<p><%= link_to "My Items", "/merchant/items", method: :get %></p>
