<h1>Order Number: <%= @order.id %></h1>
<center>
  Created On: <%= @order.created_at.to_date %></br>
  Last Updated: <%= @order.updated_at.to_date %></br>
  Current Status: <b><%= @order.status %></b></br>
</center>
  <h2>Items in Order: </h2></br>
  <table>
    <tr>
      <th>Item</th>
      <th>Snapshot</th>
      <th>Description</th>
      <th>Quantity Ordered</th>
      <th>Price (each)</th>
      <th>Subtotal</th>
    </tr>
    <% @order.items.each do |item| %>
      <tr id='list-item-<%= item.id%>'>
        <td><%= item.name %></td>
        <td><%= image_tag(item.image, :style => "width: 75px") %></td>
        <td><%= item.description %></td>
        <td><%= item.order_qty_purchased(@order.id)%></td>
        <td>$<%= item.price %></td>
        <td>$<%= item.subtotal(@order.id) %></td>
      </tr>
    <% end %>
  </table></br>
<center>
  Total Count of Items: <b><%= @order.total_count %></b></br>
  Grandtotal: <b>$<%= @order.grandtotal %>0</b></br></br>

  <% if @order.status == "shipped" %>
    <p>Your order has been shipped!</p>
  <% else %>
    <%= link_to "Cancel This Order", "/orders/#{@order.id}", method: :delete %>
  <% end %>
</center>


