<div class="order-<%= order.id %>">
  <ul>
    <p>Order Number: <%= order.id %></p>
    Placed By: <%= link_to "#{order.name}", "/admin/users/#{order.user.id}"%><br>
    Date Created: <%= order.created_at.strftime("%m/%d/%Y") %><br>
    <% if order.status == "packaged" %>
      <%= button_to "Ship", "/orders/#{order.id}", method: :patch %>
    <% end %>
</ul>
</div>
