<h1>All Merchants</h1>
<section>
  <% @merchants.each do |merchant| %>
    <div class="merchant-<%= merchant.id %>">
      <ul>
        <li> <%=link_to "Merchant Name: #{merchant.name}", "/admin/merchants/#{merchant.id}" %><br>
        <li> <%= merchant.city %>, <%= merchant.state %>  
        <li>Status: <%= merchant.status %></li>
        <% if merchant.status == "enabled" %>
          <%= button_to "Disable", "/admin/merchants/#{merchant.id}", method: :patch %>
        <% else %>
          <%= button_to "Enable", "/admin/merchants/#{merchant.id}", method: :patch %>
        <% end %>
      </ul>
    </div>
  <% end %>
</section>
