<h2>Edit Item</h2>
<%= form_tag "/merchant/:id", method: :put do %>
<%= label_tag :name %>
<%= text_field_tag :name, @item.id %><br>
<%= label_tag :description %>
<%= text_field_tag :description, @item.description %><br>
<%= label_tag :price %>
<%= text_field_tag :price, @item.price %><br>
<%= label_tag :image %>
<%= text_field_tag :image, @item.image %><br>
<%= label_tag :status %>
<%= text_field_tag :status, @item.status %><br>
<%= label_tag :inventory %>
<%= text_field_tag :inventory, @item.inventory %><br>
<%= submit_tag "Edit Item" %>
<% end %>
