<h1><%= @merchant.name %><span> Items</span></h1>
<section class="grid-container">
  <% @merchant.items.each do |item| %>

    <section class = "grid-item" id= 'item-<%=item.id%>'>
      <h2> <%=link_to item.name, "/items/#{item.id}" %> </h2>
      <p><%= item.description %></p>
      <p>Price: <%=number_to_currency(item.price) %> </p>
      <%= image_tag("#{item.image}") %>
      <p>Status: <%= item.status %></p>
      <p>Inventory: <%= item.inventory %> </p>
    </section>
    <% end %>
</section>
