<h2><%= @discount.description %> <%= @discount.item.name %></h2>

<p>Discount Applies to: <%=link_to "#{@discount.item.name}", "/items/#{@discount.item.id}" %></p>
<p>Regular Price: $<%= @discount.item.price %></p>
<p>Discount Amount <%= @discount.discount_amount %>
<p>Price Per Item with Discount: $<%= @discount.adjusted_item_price.round(0) %></p>
<p>Minimum Quantity Required for Discount: <%= @discount.minimum_quantity %></p>

<%= link_to "Update Discount", "/merchant/items/discounts/#{@discount.id}/edit" %><br>
<%= link_to "Delete Discount", "/merchant/items/discounts/delete" %>
