<h1>Edit User Information</h1>

<%=form_tag("/profile/#{@user.id}", method: :patch) do %>
  <%= label_tag("Name") %>
  <%= text_field_tag(:name, @user.name) %><br>
  <%= label_tag("Street Address") %>
  <%= text_field_tag(:address, @user.address) %><br>
  <%= label_tag("City") %>
  <%= text_field_tag(:city, @user.city) %><br>
  <%= label_tag("State") %>
  <%= text_field_tag(:state, @user.state) %><br>
  <%= label_tag("Zipcode") %>
  <%= text_field_tag(:zip, @user.zip) %><br>
  <%= label_tag("Email Address") %>
  <%= text_field_tag(:email, @user.email) %><br>
  <%= label_tag("Password") %>
  <%= text_field_tag(:password) %><br>
  <%= label_tag("Password Confirmation") %>
  <%= text_field_tag(:password_confirmation) %><br>
  <%= submit_tag "Submit" %>
<%end%>
