<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "Home Page", "/" %>
      <%= link_to "All Merchants", "/merchants"%>
      <%= link_to "All Items", "/items"%>
      <%= link_to "Login", "/login" %>

      <% if current_user == nil || !current_user.admin? %>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
        <%= link_to "Register", "/register" %>
      <% end %>

      <% if current_user && current_user.admin? %>
        <%= link_to "Profile", "/profile" %>
        <%= link_to "Logout", "/logout", method: :delete %>
        <%= link_to "Admin Dashboard", "/admin/dashboard" %>
        <%= link_to "All Users", "/admin/users" %>
      <% end %>

      <% if current_user && current_user.default? %>
        <%= link_to "Profile", "/profile" %>
        <%= link_to "Logout", "/logout", method: :delete%>
      <% end %>

      <% if current_user && current_user.merchant? %>
        <%= link_to "Profile", "/profile" %>
        <%= link_to "Logout", "/logout", method: :delete %>
        <%= link_to "Merchant Dashboard", "/merchant" %>
      <% end %>

    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
